/* 🦊 Ajoutez tous les styles manquants pour recréer la maquette! */

body {
  font-family: "Silkscreen", monospace;
}

img {
  display: block;
}
.texte{
  border-top: 5px solid black;
  border-left: 5px solid black;
  padding-left: 20px;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1{
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fond{
  max-width: 460px;

}

.lien{
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}